@import "../../Styles/mixins.scss";

$border-color: lightGray;

.product-card {
    border: 1px solid $border-color;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}


.product-img-wrapper {
    height: 200px;
    padding: 8px;
    margin: 8px;
    border: 1px solid $border-color;

    .product-img {
        height: 100%;
        width: 100%;


    }
}

.product-card-body {
    height: 175px;
    padding: 16px;
    text-align: center;

    .product-card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product-card-desc {
        overflow: hidden;
        height: 85%;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        @include box-orient(vertical);
        text-overflow: ellipsis;
    }
}